*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style-type: none;
}

.container{
    background-color: #f6b48d;
    box-shadow: 7px 8px #888888;
    padding: 20px;
    margin: 30px;
    border-radius: 25px;
    display: grid;
    grid-template-areas: 
        'header header'
        'totales tareas';

}

.containerInput{
    grid-area: header;
}

.inputTarea{
    display: flex;
    margin: 5px;
}

h1{
    margin: 8px;
}

hr{
    margin-bottom: 15px;
}

.inputTarea #nuevaTarea{
    width: 100%;
    margin: 0px 5px 5px 0px; 
}

.inputTarea #agregarTarea{
    background-color: #a4f1f5;
    margin: 5px;
    border: none;
    border-radius: 7px;
    color: rgb(36, 36, 36);
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s ease-out;
}

.inputTarea #agregarTarea:hover{
    background-color: #f0f5a4;
    margin: 5px;
    border: none;
    border-radius: 7px;
    color: rgb(107, 107, 107);
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}


.containerTotal{
    grid-area: totales;
    width: 100%;
}

.containerTareas{
    grid-area: tareas;
    width: 100%;
}

#todoTable {
    width: 100%;
}

#todoTable td{
    text-align: center;
}

.borrar {
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 1s ease-out;
  }

.borrar:hover {
    background-color: rgb(62, 62, 62);
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bolder;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }